{% extends 'base.html.twig' %}

{% block title %}Ingredient index{% endblock %}

{% block body %}
    <h1>Ingredient index</h1>

         {# read and display just one flash message type #}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

    {% if not ingredients.items is same as([]) %}
    <div class="count mt-4">
        Il y a {{ingredients.getTotalItemCount }} ingrédients 
        </div>

    <table class="table table-hover ">
        <thead>
            <tr class="table-dark">
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>CreatedAt</th>
                <th>Show</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
        {% for ingredient in ingredients %}
               <tr class="table-secondary">
      
                <td>{{ ingredient.id }}</td>
                <td>{{ ingredient.name }}</td>
                <td>{{ ingredient.price }}</td>
                <td>{{ ingredient.createdAt ? ingredient.createdAt|date('d/m/Y') : '' }}</td>
                <td>
                    <a class="btn btn-info"href="{{ path('app_ingredient_show', {'id': ingredient.id}) }}">show</a> </td>
                 <td>   <a class="btn btn-warning"href="{{ path('app_ingredient_edit', {'id': ingredient.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div class="navigation d-flex justify-content-center">
    {{ knp_pagination_render(ingredients) }}
</div>
    <a class="btn btn-primary" href="{{ path('app_ingredient_new') }}">Create new</a>
    {% else %}
    <h4> Il n'y a pas d'ingrédients </h4>
    {% endif %}
{% endblock %}
